<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <input type="text" name="audioname"><br>
  <input type="file" name="fileaudio"><br>
    <input type="text" name="videoname"><br>
  <input type="file" name="filevideo"><br>
     <input type="text" name="pdfname"><br>
  <input type="file" name="filepdf"><br>

    <input type="submit">


</form>
</body>
</html>

<!-- in the case of number checking we have to use int-->
<!--# #work-->
<!--# create an html file-->
<!--# audio name-->
<!--# video name-->
<!--# video-->
<!--# pdf name-->
<!--# pdf-->