
<!DOCTYPE html>
<html lang="en">

<head>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        #a {
            background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(176, 229, 208, 1) 42%, rgba(92, 202, 238, 0.41) 93.6%);

            background-repeat: no-repeat;
            height: 725px;

        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body id="a">

    <div
        style="height: 700px; width: 600px;background-color: rgb(174, 58, 135);margin-left: 400px;margin-top: 20px; border: 5px black solid;">
        <center>
            <h2 style="text-shadow: 2px 2px 2px rgb(133, 106, 106);"><u><i>USER REGISTRATION</h2>
        </center></u><br></i>

    <form method="post">{% csrf_token %}
        <label for="" style="margin-left: 133px;"><b>First Name:</b></label>
        <input type="text" name="fname" style="margin-left: 50px;" placeholder="Shigin" value="{{data.fname}}"><br><br>
        <label for="" style="margin-left: 133px;"><b>Last Name:</b></label>
        <input type="text" name="lname" style="margin-left: 50px;" placeholder="Madappally" value="{{data.lname}}"><br><br>
        <label for="" style="margin-left: 170px;"><b>Email:</b></label>
        <input type="text" name="email" style="margin-left: 50px;" placeholder="Abc123@gmail.com" value="{{data.email}}"><br><br>
        <label for="" style="margin-left: 100px;"><b>Phone Number:</b></label>
        <input type="number" name="phone" style="margin-left: 50px;" placeholder="+91-9747xxxxxx" value="{{data.phone}}"><br><br>
        <p>gender:{{data.gender}}</p>
        <label for="" style="margin-left: 155px;"><b>Gender:</b></label>
        <input type="radio" name="gender" value="male" id="" style="margin-left: 50px;"><b>Male</b>
        <input type="radio" name='gender' value="female" style="margin-left: 50px;"><b>Female</b> <br><br>
        <label for="" style="margin-left: 150px;"><b>Address:</b></label>
        <textarea name="address" cols="23" rows="3" style="margin-left: 50px;">{{data.address}}</textarea><BR></BR>
        <p>dob:{{data.dob}}</p>
        <label for="" style="margin-left: 175px;"><b>DOB:</b></label>
        <input type="date" name="dob" style="margin-left: 50px;"><br><br>
        <label for="" style="margin-left: 133px;"><b>User Name:</b></label>
        <input type="text" name="username" style="margin-left: 45px;" placeholder="User Name" value="{{data.username}}"><br><br>

        <button value="update"
            style="margin-left: 270px;border-radius: 10px;width: 100px; border: none; background-color: green;box-shadow: 5px 5px 5px black;" type="submit">SUBMIT</button>

        </form>

    </div>
</body>

</html>






