<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="red">
<center>
<h1><b><u>Mahatma Gandhi</b></u></h1></center>
<p>Mahatma Gandhi was an Indian lawyer, politician, social activist, and writer who became the leader of the nationalist movement against the British rule of India. As such, he came to be considered the father of his country. Gandhi is internationally esteemed for his doctrine of nonviolent protest (satyagraha) to achieve political and social progress. Born Mohandas Karamchand Gandhi, he later adopted the honorific Mahatma, meaning "great soul" in Sanskrit.

In the eyes of millions of his fellow Indians, Gandhi was the Mahatma (“Great Soul”). The unthinking adoration of the huge crowds that gathered to see him all along the route of his tours made them a severe ordeal; he could hardly work during the day or rest at night. “The woes of the Mahatmas,” he wrote, “are known only to the Mahatmas.” His fame spread worldwide during his lifetime and only increased after his death. The name Mahatma Gandhi is now one of the most universally recognized on earth</p>
<img src="{% static 'fruits.jpeg' %}" height="600px" width="600px">
<audio controls>

    <source src="{% static 'Notebook Theme - Piano ! Bgm.mp3' %}"></audio>
<video controls>
    <source src="{% static 'WhatsApp Video 2023-08-17 at 09.45.25.mp4' %}"

</video>
</body>
</html>
<!--create a reg page with fields-->
<!--first_name-->
<!--last_name-->
<!--user_name-->
<!--email-->
<!--phone-->
<!--gender-->
<!--address-->
<!--dob-->
<!--password-->
<!--conf password-->