#           technical questions


1. what is a variable in programming?

a variable is a reserved memory location to store values


2.explain the difference between a compiler and a interpreter
compiler:it translates code written in high-level programming language into a lower-level language like
assembly language,object code and machine code.it converts the code ahead of time before the program runs

interpreter:it translates the code line-by -line when a program is running


3.what is the purpose of loop in programming

4.define algorithm in the context of programming

5.how do you comment code in vrious programming languages

6.what is the difference between if and else if in conditional statements

7.explain the concept of data types in programming

8.how do you declare and initilize an array in our preferred programing languages


9.what is the purpose of a function in programming

10.how do ou pass arguments to a function,and how does it return a value?


  #   coding
1.write a program to calculate the area of a circle
area=3.14*r*r
r=int(intput('enter the radius)
area=3.14*r*0.2