<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>pdf</th>
        <th>audio</th>
        <th>video</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>
            <a href="{{i.pdf}}">view</a>
        </td>
        <td>
            <audio controls>
                <source src="{{i.audio}}">
            </audio>
        </td>
        <td>
            <video controls width="200px">
                <source src="{{i.video}}">
            </video>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>